body{
	margin: 0px;
}
/*
	option-styles:hover {

	};
*/

.cabecera{
	color: white;
	height: 50px;
	background: #1f2858;
	text-align: center;
	font-size: 150%;
}
#title{
	position: relative;
	right: 4%;
	top: 25%;
}
#logout{
	float: right;
	position: relative;
	right: 8%;
	bottom: 18px;
}
#homebtn{
	float: left;
	position: relative;
	bottom: 20px;
	left: 5%;
}
img{	
	width: 35px;
	height: 35px;
}
a{
	color: white;
	text-decoration: none;
	font-size: 16px;
}
table{
	position: relative;
	top: -18px;
	height: 300px;
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border: none;
	/*word-break:*/
}
select{
	background-color: #6a8388;
    border-width: 0px;
	border-top-right-radius: 20px 20px;
	border-bottom-right-radius: 20px 20px;
	border-top-left-radius: 20px 20px;
	border-bottom-left-radius: 20px 20px;
}
.status{
	background-color: white;
}
.row{
	border-top-left-radius: 0px 0px;
	border-bottom-left-radius: 20px 20px;
	border-top-right-radius: 0px 0px;
}
.row2{
	border-top-left-radius: 0px 0px;
	border-bottom-right-radius: 20px 20px;
	border-top-right-radius: 0px 0px;	
}
.relleno{
	background: #6A8388;
}